{% load static %}
{% load md5url %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}はたらくことばメーカー{% endblock title %}</title>
    <link href= "{% md5url 'hataraku/css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% md5url 'hataraku/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141589790-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141589790-2');
    </script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <script type="text/javascript">
    $(function(){

      $("#color-dialog").on("change", function(){
        $('#label1').css("color", $('#color-dialog').val())
          $('#area1').text($('#color-dialog').val());
      });

      $("#color-list").on("change", function(){
        $('#label2').css("color", $('#color-list').val())
          $('#area2').text($('#color-list').val());
      });

    });
  </script>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'hataraku_index' %}">はたらくことばメーカー</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            {% if False %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>

        {% block page_content %}{% endblock %}
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark static-bottom">
        <li class="navbar-brand">INSPIRED BY <a href="https://www.hatakoto.jp/" target="_blank">はたらく言葉たち</a></li>
    </footer>
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>      
</body>
</html>